/* ********* RÉGLAGES GÉNÉRAUX ********* */
:root {
  --color1: rgb(36, 36, 36);
  --color2: rgb(255, 255, 255);
  --color3: rgb(31, 32, 57);
  --color4: rgb(165, 180, 252);
  /* Mots dans le texte */
  --color5: rgb(164, 164, 223);
  /* Bouton */
}

@font-face {
  font-family: "Manrope";
  src: url(/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Monserrat";
  src: url(/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Manrope", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: var(--color3);
  min-height: 100vh;
}

button {
  margin: 10px 0 25px 0;
  padding: 20px;
  border: 1px solid var(--color5);
  border-radius: 400px;
  background: var(--color5);
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--color4);
  transition: 0.5s;
}

/* ********* NAVBAR ********* */
.navbar,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
}

.logo {
  margin: 10px 60px;
  cursor: pointer;
  background-image: url("/assets/img/img-accueil/logo.png");
  height: 45px;
  width: 85px;
}

.logo:hover {
  opacity: 0.5;
}

.list {
  margin-right: 25px;
}

.list a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: var(--color1);
}

.list a:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgb(165, 180, 252);
}

/* ********* CONTENT *********  */
.first-part,
.second-part {
  color: white;
}

.first-part h1 {
  font-family: "Monserrat";
  font-size: 3rem;
  font-weight: 600;
  color: var(--color4);
  padding: 40px;
  text-transform: capitalize;
}

.first-part p,
.first-part ul {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.first-part h2 {
  font-size: 1.25rem;
  margin-bottom: 40px;
  color: var(--color4);
}

.first-part ul {
  width: 45%;
  margin-bottom: 50px;
}

.first-part a {
  color: white;
  text-decoration: none;
}

.second-part h2 {
  margin: 30px 0 30px 0;
}

table {
  margin: 0 auto;
  margin-bottom: 50px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid whitesmoke;
  padding: 20px;
}

/* ********* FOOTER ********* */
.network {
  font-size: 1.5rem;
  margin-right: 30px;
}

.network i {
  margin-right: 15px;
  color: rgb(31, 32, 57);
  text-decoration: none;
}

.network i:hover {
  color: var(--color4);
}

.network a {
  text-decoration: none;
}

/* ********* MEDIA QUERIES ********* */
@media screen and (max-width: 996px) {
  .navbar {
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list {
    margin: 10px 0 5px 0;
  }

  .first-part h1 {
    font-size: 2.5rem;
  }

  .first-part p,
  ul {
    font-size: 1rem;
    margin-bottom: 25px;
  }

  .first-part h2 {
    font-size: 1.75rem;
    margin-bottom: 25px;
  }

  .first-part ul,
  .btn-container {
    margin-bottom: 25px;
  }

  .second-part {
    display: none;
  }

  .footer {
    padding: 15px 0 15px 0;
  }
}