// ---- REGLAGES ----
@use "../settings" as *;

// ---- DEFAULT CONTENT ---- (360px)
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:rgb(250, 250, 250);
};

.navbar {
  @include center;
  text-transform: uppercase;
  text-decoration: none;

  ul {
    padding: 0;
  }
  a {
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
    padding-right: 15px;
    color: rgb(115, 17, 134);
  }
}

.title {
  background:rgb(64, 10, 75);
  color: rgb(250, 250, 250);

  h1 {
    @include center;
    @include bodoni;
    font-weight: 700;
    padding-top: 15px;
    margin: 0;
  }
  #title {
    @include center;
    @include montserrat;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-bottom: 20px;
  }
  p, .btn-container{
    display: none;
  };
}

// ---- XL MOBILES ----
// @media (min-width: 480px) { }

// ---- TABLETS ----
// @media (min-width: 768px) { }

// ---- LAPTOP ----
// @media (min-width: 1024px) { }

// ---- DESKTOP ----
// @media (min-width: 1280px) { }

// ---- XL DESKTOP ----
// @media (min-width: 1440px) { }