// ---- REGLAGES ----
@use "../settings" as *;

// ---- DEFAULT CONTENT ---- (360px)
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background:rgb(250, 250, 250);
  // background: rgba(248, 200, 220, 0.6);
  background: rgb(95, 79, 124);
};
.title, .content, .contact {
  @include center;
  @include index-content;
  text-align: center;
}
.navbar {
  display: none;
}

.header {
  margin-top: 50px;
  .h-title {
  color: rgba(248, 200, 220, 0.6);
  // background: rgb(250, 250, 250);
  background: none;
  }
  h1 {
    @include center;
    @include cormorant;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 15px;
    margin: 0;
  }
  #title {
    @include center;
    @include montserrat;
    margin: 0;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-bottom: 20px;
  }
  .btn-container{
    display: none;
  };
  .img-title {
    @include center;
    margin-bottom: 50px;
  }
  .img-container {
    @include center;
    img {
      width: 80%;
      height: auto;
      border-radius: 50px;
    }
  }
  .title {
    @include text;
    color:rgb(95, 79, 124) ;
    background: #97A3F7;
    font-size: 1.2rem;
    min-height: 75px;
  }
  .content {
    background: #97A3F7;
    color: rgb(95, 79, 124);
    padding: 15px;
    max-width: 80%;

    p {
      text-align: justify;
      max-width: 90%;
    }
  }
}

.title {
  max-width: 86% ;
  .container {
    padding: 10px;
    background: #97A3F7;
    border-radius: 50px;
    img {
      max-width: 80%;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
}

.contact {
  max-width: 90%;
  padding: 10px 0 30px 0;
  background: #97A3F7;
  .form-grid > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .name {
  display: none !important; 
  }
  .email, .textarea {
    color: rgb(95, 79, 124);
    margin-bottom: 20px;
  }
  input, textarea {
    border: 1px solid rgb(95, 79, 124);
    border-radius: 10px;
    &:focus {
      outline: none;
      border-color: #97A3F7;
    }
  }
  #email, #message {
    @include montserrat;
    background: rgba(250, 221, 233, 0.712); 
    font-size: .75rem;
    padding: 10px;
  }
  textarea {
    min-height: 75px;
  }
  .btn-container {
    button {
      background: rgba(250, 221, 233, 0.712); 
      padding: 5px;
      border: 1px solid rgb(95, 79, 124) ;
      border-radius: 10px;

      &:focus {
      outline: none;
      border-color: rgb(64, 10, 75);
    }
    }
  }
}

.footer {
  .logo {
    display: none;
  }
  .network {
    @include center;
    gap: 30px;

    a {
      font-size: 2rem;
      color:#97A3F7;
    }
  }
}

// ---- XL MOBILES ----
@media (min-width: 480px) { 
  .header {
    .title {
      max-width: 85%;
    }
  }
}

// ---- TABLETS ----
@media (min-width: 768px) {
  .header {
    .h-title {
      font-size: 2rem;
    }
    .img-container {
      margin: 0 auto;
      max-width: 70%;
    }
    .title {
      font-size: 1.5rem;
    }
    #title {
      letter-spacing: 20px;
    }
    .content {
      font-size: 1rem;
    }
  }
  .title {
    h2 {
      font-size: 1.5rem;
    }
    img {
      min-width: 85%;
    }
  }
  .contact {
    .form {
      min-width: 80%;
    }
    h2 {
      font-size: 1.5rem;
    }
    label {
      font-size: 1rem;
    }
    #email, #message {
      padding: 15px;
    }
    .btn-container {
      max-width: 40%;
      margin: 0 auto;
      padding-top: 10px;

      button { 
        padding: 10px;
      }
    }
  }
}

// ---- LAPTOP ----
@media (min-width: 1024px) {
  .header {
    .h-title {
      font-size: 2.5rem;
   }
   .content {
      min-width: 83%;
      font-size: 1.25rem;
   }
  }
  .title, .form-title {
    h2 {
      font-size: 2rem;
    }
  }
  .contact {
    label {
      font-size: 1.5rem;
    }
    #email, #message {
      padding: 20px;
    }
  }
}

// ---- DESKTOP ----
// @media (min-width: 1280px) { }

// ---- XL DESKTOP ----
// @media (min-width: 1440px) { }